.name{
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 10px;
    margin: 10px;
    float: left;
}

.wrapper{
    background: white;
    font-family:'Georgia', Times, Times New Roman, serif;
    padding: 15px;

}

.links{
    padding: 20px,5px,50px,5px;
}